@import "tailwindcss";

@theme {
  --color-cfo-primary: #9a1417;
  --color-cfo-border-1: #e5e7eb;
  --color-cfo-muted: #6b7280;
  --breakpoint-mc: 890px;
}

@layer base {
  :root {
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
      sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


  button {
    cursor: pointer;

    &:hover:not(:disabled) {
      filter: brightness(0.99);
      transition: filter 150ms ease;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
